*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    background-color: #fffde7 ;
}
.tasks-counter{
    font-size: 1.5rem;
    color: rgb(192, 190, 190);
}

.add-items, .start, .done{
    margin: 0 !important;
    padding: 2vh 5vw;
}
.start{
    background-color: #fff9c4;
}
.add-items{
    background-color: #fff59d;
}

.task-card{
    padding: 10px ;
    /* color: honeydew; */
    background-color: #ffe57f !important;
    height: 66px;
}
.task-card:hover{
    background-color: #ffe170 !important;
}
.checked {
    background-color: #fff9c4 !important;
    /* color: hotpink; */
    text-decoration:line-through;
}

.button{
    padding-left: 10px;
    padding-top: 3%;
    cursor: pointer;
}